{% extends "base_other.html" %}
{% load staticfiles %}



{% block headerscript %}
  
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2156540805916735",
    enable_page_level_ads: true
  });
</script>
{% endblock %}

<!-- main block part starts here -->	
{% block main %}
<section>
<div class="container layout col-lg-10">
      <form method="POST" style="text-align: center;">
      {% csrf_token %}
        <h2>Forgot your Password ?</h2>
        <h6 style="font-style:italic">Instructions will be sent to your email. Please check email.</h6>
        <label>Enter your email <input type="text" style="margin: 5px;" name="email" id="email"></label><br> 
        <div><button type="submit" id="forgotpw" style="background-color: #fb8f01;border: 0px;border-radius: 3px;color: #fff;padding: 3px 15px;">Submit</button></div>
      	<div></div>
      </form>
      </div>
  
    </section>        

{% endblock %}  
{% block script %}
<script>
	$(document).ready(function(e){
		/* $("#msgdiv").text("");
		$("#forgotpw").on("click",function(e){
			var email = $("#email").val();
			data={
					"email":email,
			}
			$.ajax({
				type:'POST',
				url:'/forgotpassword/',
				data:data,
				error:function(e){alert('error');$("#msgdiv").text("Message could not sent.");},
				success:function(data){
				alert("success");
				},
				headers:{"X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').attr('value')},
			});
		}); */ 
	});
</script>
{% endblock %}


 
