{% extends "base_other.html" %}
{% load staticfiles %}

	
<!-- main block part starts here -->	
{% block main %}

<section>
<div class="container layout">
{% csrf_token %}
      <form>
        <fieldset>
          <label class="col-md-5">Name <input type="text" name="firstname" id="firstname" style="border-color:  #fb8f01;border-radius: 3px; border-width: 1px;    position: absolute;right: 0;"></label>
          <label class="col-md-5">Last Name <input type="text" name="lastname" id="lastname" style="border-color:  #fb8f01;border-radius: 3px; border-width: 1px;    position: absolute;right: 0;"></label><br>
          <label class="col-md-5">Address 1 <input type="text" name="address1" id="address1" style="border-color:  #fb8f01;border-radius: 3px; border-width: 1px;    position: absolute;right: 0;"></label>
          <label class="col-md-5">Address 2 <input type="text" name="address2" id="address2" style="border-color:  #fb8f01;border-radius: 3px; border-width: 1px;    position: absolute;right: 0;"></label><br>
          <label class="col-md-5">City 
          	<input type="text" name="city" id="city" style="border-color:  #fb8f01;border-radius: 3px; border-width: 1px;position: absolute;right: 0;">
          	<!-- <select id="city" name="city"  style="border-color:#fb8f01;border-radius: 3px; border-width: 1px;position: absolute;right: 0;">
          	{% if cities %}
          	{% for city in cities %}
          		<option value="{{type.1}}">{{type.1}}</option>
          	{% endfor %}
          	{% else %}
          		<option>No cities found</option>
          	{% endif %}
          	</select> -->
          </label>
          <label class="col-md-5">Zipcode
          	<input type="text" name="zipcode" id="zipcode" style="border-color:  #fb8f01;border-radius: 3px; border-width: 1px;position: absolute;right: 0;">
          </label>
          <label class="col-md-5">State 
          	<!-- <input type="text" name="state"style="border-color:  #fb8f01;border-radius: 3px; border-width: 1px;    position: absolute;right: 0;"> -->
          	<select id="state" name="state"  style="border-color:#fb8f01;border-radius: 3px; border-width: 1px;position: absolute;right: 0;">
          	{% if state_list %}
          	{% for state in state_list %}
          		<option value="{{state.0}}">{{state.1}}</option>
          	{% endfor %}
          	{% else %}
          		<option>No states found</option>
          	{% endif %}
          	</select>
          	<input type="text" name="otherstate" id="otherstate" style="border-color:#fb8f01;border-radius:3px; border-width: 1px;position: absolute;right: 0;display:none;">
          </label><br>
          <label class="col-md-5">Country 
          	<!-- <input type="text" name="country" style="border-color: #fb8f01;border-radius:3px; border-width: 1px;position: absolute;right: 0;"> -->
          	<select id="country" name="country"  style="border-color:#fb8f01;border-radius: 3px; border-width: 1px;position: absolute;right: 0;">
          	{% if country_list %}
          	{% for country in country_list %}
          		{% ifequal country.0 "USA" %}
          		<option value="{{country.0}}" selected>{{country.1}}</option>
          		{% endifequal %}
          		{% ifnotequal country.0 "USA" %}
          		<option value="{{country.0}}">{{country.1}}</option>
          		{% endifnotequal %}
          	{% endfor %}
          	{% else %}
          		<option>No countries found</option>
          	{% endif %}
          	</select>
          </label><br>
          <label class="col-md-5">Email <input type="text" name="email" id="email" style="border-color:  #fb8f01;border-radius: 3px; border-width: 1px;    position: absolute;right: 0;"></label>
          <label class="col-md-5">Phone <input type="text" name="phone" id="phone" style="border-color:  #fb8f01;border-radius: 3px; border-width: 1px;    position: absolute;right: 0;"></label><br><br>
          <input type = "checkbox" name = "ownpet" id="ownpet" value = "on"><label>&nbsp; Own Pet(s)</label><br><br>
          <p>Indicate Services you are interested in</p>
          {% if interest_list %}
          {% for interest in interest_list %}
          <input type = "checkbox" name="interestchk" id = "{{interest.0}}" value = "on"><label class=" col-md-3">{{interest.1}}</label></br>
          {% endfor %}
          {% else %}
          <input type = "checkbox" name = "0" value = "on"><label class=" col-md-3">Data Not Found</label>
          {% endif %}
          <!-- <input type = "checkbox" name = "walkthedog" value = "on"><label class=" col-md-3">Walk the Dog</label>
          <input type = "checkbox" name = "keepdogday" value = "on"><label class=" col-md-3">Can keep Dog during day time</label>  
          <input type = "checkbox" name = "keepdognight" value = "on"><label class="col-md-3">Can keep Dog overnight </label><br> 
          <input type = "checkbox" name = "feedcat" value = "on"><label class=" col-md-3">Can feed Cat</label> 
          <input type = "checkbox" name = "watchfish" value = "on"><label class=" col-md-3">Can watch Fish</label><br><br>
           -->
          </br>
          <label class="col-md-6">Comment <input class="int-text" type="text" name="comment" id="comment" style=" border-color: #fb8f01;border-radius: 3px;border-width: 1px;font-size: smaller; padding: 5px;"size="50"></label><br>
          
          <input type="button" name="submitOwnerReg" id="submitOwnerReg" value="Submit" style="background-color: #fb8f01;border: 0px;border-radius: 3px;color: #fff;padding: 3px 15px;">
        </fieldset>
      </form>
      </div>
  
    </section>        

    <!--==========================
      Contact Section
    ============================-->
    <!-- <section id="contact">

      <div class="container wow fadeInUp">
        <div class="row justify-content-center">

          <div class="col-lg-4 col-md-6">

            <div class="info">
              <div>
                <h3> Get in Touch </h3>
                PetJibe is focused in building an engaged pet community.We want to help pet parents with pet care, pet grooming, pet health, dog trainer, organic pet food and in many more areas.Thank you for using PetJibe! Please complete the form, so we an provide quick and efficient service. If this is an urgent matter please contact Customer Support at <br> 630 791 3016 
              </div>

            </div>

        <div class="social-links" style= "margin-top:30px";
">
          <a href="https://twitter.com/PetJibe" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/PetJibe/" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/petjibe_petcommunity/" class="instagram"><i class="fa fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCRXENBvNNlHjGzCoYOmhVHA?disable_polymer=true" class="youtube"><i class="fa fa-youtube"></i></a>
            </div>

        </div>

          <div class="col-lg-4 col-md-6">
            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section> --><!-- #contact -->

  </main>

 {% endblock %}
<!-- end here -->
 
<!-- block script -->
{% block script %} 
<script>
	$(document).ready(function(e){
		//================================================================
			//======= ajax call to populate states according to country
		//================================================================
		$("#country").on("change",function(e){
			e.preventDefault();
			var country_code = $("#country option:selected").val();
			data={
					"country_code":country_code
			}
			//sending form data
		 $.ajax({
            	type:'POST',
            	url: '/getStates/',
            	data:JSON.stringify(data),
            	success: function(response){
            		$("#otherstate").hide();
            		//data population of states
            		var state_list_len = response['state_list'].length;
            		var html_content = "";
            		$("#state").html("");
            		if(state_list_len>0){
            			for(var i=0; i<state_list_len; i++){
	            			html_content += "<option value='"+response['state_list'][i][0]+"'>"+response['state_list'][i][1]+"</option>";
	            			$("#state").html(html_content);
	            		}
            		}
            		else{
            			html_content = "<option value='0'>No data found</option>";
            			$("#state").html(html_content);
            			$("#otherstate").show();
            		}
            		                                            
            	},
            	error: function(err){
            		alert("error");
            	},
            	dataType: "json",
				contentType: "application/json",
            	headers:{"X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').attr('value')},
            });
		});
		
		var interest_chk_list=[];
		$('input[name=interestchk]').on("change",function(e){
			if($('input[name=interestchk]:checked').val()!=undefined){
				var interest_chk = $('input[name=interestchk]:checked').attr("id");
				interest_chk_list.push(interest_chk);
			}
			else{
				var interest_chk = $('input[name=interestchk]').attr("id");
				interest_chk_list.pop(interest_chk);
			}
		});
		//================================================================
			//======= ajax call to submit user registration data
		//================================================================
	$("#submitOwnerReg").on("click",function(e){
		e.preventDefault();		
		var country_code = $("#country option:selected").val();
		var state_code = $("#state option:selected").val();		
		var firstname = $("#firstname").val();
		var lastname = $("#lastname").val();
		var address1 = $("#address1").val();
		var address2 = $("#address2").val();
		var city = $("#city").val();
		var zipcode = $("#zipcode").val();
		var comment = $("#comment").val();
		var email = $("#email").val();
		var phone = $("#phone").val();
		var otherstate = $("#otherstate").val();
		if($("#ownpet:checked")){
			var own_pet = $("#ownpet:checked").val();
		}
		else{
			var own_pet = "off";
		}
		
		data={
				"interest_chk_list":interest_chk_list,
				"country_code":country_code,
				"state_code":state_code,
				"firstname":firstname,
				"lastname":lastname,
				"address1":address1,
				"address2":address2,
				"city":city,
				"zipcode":zipcode,
				"comment":comment,
				"email":email,
				"phone":phone,
				"own_pet":own_pet,
				"otherstate":otherstate
		}
		//sending form data
	 $.ajax({
        	type:'POST',
        	url: '/ownerRegistrationSubmit/',
        	data:JSON.stringify(data),
        	success: function(response){
	             alert("success");    
	             $("#otherstate").hide();
	             window.location.href="{% url 'profileWithoutPetView' %}";
        	},
        	error: function(err){
        		alert("error");
        		//$("#otherstate").hide();
        		window.location.href="{% url 'profileWithoutPetView' %}";
        	},
        	dataType: "json",
			contentType: "application/json",
        	headers:{"X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').attr('value')},
        });
	});
	});
</script>
{% endblock %}
