{% extends "base_other.html" %}
{% load staticfiles %}



{% block headerscript %}
  
  
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2156540805916735",
    enable_page_level_ads: true
  });
</script>
{% endblock %}

<!-- main block part starts here -->	
{% block main %}
<section>
<div class="container layout col-lg-10">

      <form method="post" style="text-align: center;">
      {% csrf_token %}
        <h2>Reset Your Password</h2>
         <label>Enter New Password &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="pw"></label><br>
          <label>Confirm New Password <input type="text" name="cpw"></label><br>

        <div><input type="submit" value="Submit" style="background-color: #fb8f01;border: 0px;border-radius: 3px;color: #fff;padding: 3px 15px;"></div>
      </form>
      </div>
  
    </section>        

  {% endblock %}  
{% block script %}
{% endblock %}

